<div class="row">
  <div class="col-xs-12">
    <img [src]="recipe.imagePath" alt="{{recipe.name}}" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div appDropdown class="btn-group">
      <button class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li (click)="onAddToShoppingList()" style="cursor: pointer"><a>To Shopping List</a></li>
        <li style="cursor: pointer"><a>Edit Recipe</a></li>
        <li style="cursor: pointer"><a>Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    {{recipe.instruction}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h3>Ingredients</h3>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ing of recipe.ingredients">
        {{ing.name}} - {{ ing.amount }}
      </li>
    </ul>
  </div>
</div>
